<!DOCTYPE html>
<html>
  <head>
    <%- include('layouts/head') %>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
      <%- include('layouts/header') %>

      <%- include('layouts/friendList') %>
  
      <main id="chat">
        <div class="container-fluid h-100">
          <div class="row">
            <div class="col">
              <div id="chat-history" class="container mt-3">
                <% rooms.forEach((value) => { %>
                  <div class="row p-3 bg-dark" data-room-id="<%= value.id %>" >
                    <div class="col-2 p-2">
                      <% if(value.name) { %>
                        <%= value.name %>
                      <% } else { %>
                        <%= value.Users.map(x => x.username ) %>
                      <% } %>
                    </div>
                    <div class="col p-2">
                      <%= value.Messages[0].message %>
                    </div>
                    <div class="col-2 p-2">
                      <%= moment(value.Messages[0].createdAt).fromNow() %>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
        
      </main>

    <script src="/static/js/index.js"></script>
    <%- include('layouts/footer') %>
  </body>
</html>
