<!DOCTYPE html>
<html>
  <head>
    <%- include('layouts/head') %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      /* $(document).ready(() => {
        const socket = io();

        $('#message-form').submit(() => {
          var $msg = $('#message');

          if($msg.val() != '') {
            var time = new Date($.now());
            socket.emit('chat message', {from: $('#username').val(), message: $msg.val(), time: `${time.getHours()}:${time.getMinutes()}`});
            $msg.val('');
          }
          return false;
        });

        socket.on('chat message', function(msg){

          if(msg.from == $('#username').val()) {
            $('.chat').append(`
                <div class="row">
                  <div class="col">
                    <div class="float-right align-content-end">
                      <h6 class="ml-1">${msg.from}</h6>
                      <div class="p-2 rounded shadow" style="width: max-content; width: -moz-max-content; max-width: 400px; overflow-x: auto; background-color: #007bff; color: white">${msg.message}</div>
                      <small>Elküldve ekkor: ${msg.time}</small>
                    </div>
                  </div>
                </div>
              `);
          } else {
            $('.chat').append(`
                <div class="row">
                  <div class="col">
                    <h6 class="ml-1">${msg.from}</h6>
                    <div class="m-2 p-2 rounded shadow" style="width: max-content; width: -moz-max-content; background-color: green; color: white">${msg.message}</div>
                    <small>Elküldve ekkor: ${msg.time}</small>
                  </div>
                </div>
              `);
          }
          $('.chat').scrollTop($('.chat').prop('scrollHeight'));
        });
      }); */
    </script>
  </head>
  <body>
      <%- include('layouts/header') %>

      <div id="friend-list-panel" class="friend-list">
        <div id="list-tab" class="list-group list-group-horizontal" role="tablist">
          <a href="#list-friends" class="list-group-item list-group-item-action active fas fa-user" data-toggle="list" role="tab" aria-controls="friends"></a>
          <a href="#add-friend" class="list-group-item list-group-item-action fas fa-user-plus" data-toggle="list" role="tab" aria-controls="add-friend"></a>
        </div>

        <div id="nav-tabContent" class="tab-content">
          <div id="list-friends" class="tab-pane fade show active" role="tabpanel" aria-labelledby="list-friends-list">
            <div id="search-box" class="search-box">
              <i class="fas fa-search"></i>
              <input id="search-friend-input" type="text" name="search" placeholder="Search">
            </div>

            <div id="relationship-accordion" class="accordion">
              <div class="card">
                <div class="card-header">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseRequestList" aria-expanded="true" aria-controls="collapseRequestList">
                      Request list
                    </button>
                  </h2>
                </div>

                <div id="collapseRequestList" class="collapse" aria-labelledby="headingOne" data-parent="#relationship-accordion">
                  <div class="card-body">
                    <% if(friendRequests.length < 1) { %>
                      <span class="no-content">No friend request</span>
                    <% } else { %>
                      <ul id="friend-request-list">
                        <% friendRequests.forEach((value) => { %>
                          <li class="friend-item">
                            <span>
                              <%= value.username %>
                            </span>
                            <div>
                              <button class="btn btn-success">Accept</button>
                              <button class="btn btn-danger">Decline</button>
                            </div>
                          </li>
                        <% }) %>
                      </ul>
                    <% } %>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFriendList" aria-expanded="true" aria-controls="collapseFriendList">
                      Friend list
                    </button>
                  </h2>
                </div>

                <div id="collapseFriendList" class="collapse show" aria-labelledby="headingOne" data-parent="#relationship-accordion">
                  <div class="card-body">
                    <% if(friends.length < 1) { %>
                      <span class="no-content">No friends</span>
                    <% } else { %>
                      <ul id="friend-list">
                        <% friends.forEach((value) => { %>
                          <li class="friend-item">
                            <%= value.username %>
                          </li>
                        <% }) %>
                      </ul>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div id="add-friend" class="tab-pane fade" role="tabpanel" aria-labelledby="list-add-friend">
            <div id="search-box" class="search-box">
              <i class="fas fa-search"></i>
              <input id="search-new-friend-input" type="text" name="search" placeholder="Search" autocomplete="off">
            </div>
            <ul id="user-list"></ul>
          </div>
        </div>
      </div>
  
      <main>
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col">
            </div>
          </div>
        </div>
      </main>

    <script src="/js/index.js"></script>
    <%- include('layouts/footer') %>
  </body>
</html>
